services:
  postgres:
    image: postgres:15-alpine
    container_name: scouter-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: scouter_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: